body { background-image: url(fundo_home.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0%;
}

/* CABECALHO*/
header {
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 20px;
    margin-top: -10px;
    
}


.menu {
    padding: 10px;
    color: white;
    text-shadow: 2px 0px 5px black;
    
}

/* links*/
a { text-decoration: none;
    
}

li {
    list-style-type: none;

}

#corpo { background-color: #010B14;
        
        
}


#titulo{ background-color: transparent;
    width: 100%;
    height: 500px;
   text-align: center ;
    font-size: 50px;
     margin-bottom:200px;
    margin-top: 300px;
   
    
}

/* TEXTO*/
.texto {
    
    color: white;
    font-family: georgia;
    margin-left: 15%; 
    margin-right: 15%;
    text-align: center;
    
}



h1{color: white;
    text-shadow: 2px 0px 8px black;
    font-family: georgia;
    
                 
    
}


h2{color: white;
    text-shadow: 2px 0px 8px black;
    font-family: georgia;
    text-align: center;             
    
}

