

body{ background-image: url(homee.jpg);
  background-attachment: fixed;
  position: absolute;
  overflow: auto;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(0.8px);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  background-color: black;
  border-radius: 50em;
  width: 150px;
  height: 40px;
  color:white;
  font-family: georgia;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
  position: relative;
  
}

button:hover {
  background-color: #39A0ED;
}





