body{ background-image: url(imagens/home.jpg);
  
}

button {
  background-color: black;
  border-radius: 10%;
  width: 150px;
  height: 40px;
  color:white;
  font-family: georgia;
}

a {
  font-family: georgia;
  color: white;
  text-decoration: none;
}
  
header {width: 500px;
  height: 400px;}